// @media screen and ( max-width: 1350px )
 

// @media screen and ( max-width: 1205px )
 
// @media screen and ( max-width: 1070px )
 
@media screen and ( max-width: 992px  )
  *:hover 
    box-shadow: none
    cursor: default
  .button
    &:hover
      background-color: $primary
  .card
    &__text
       margin-top: -4.3rem
    &__pricetag
      font-size: 1rem
  

// @media screen and ( max-width: 790px  )
  


@media screen and ( max-width: 680px  ) 
  
  .swiper-slide-projects__col-60
    overflow: auto
    height: 100%
    &>img
      object-fit: contain
      width: 100%
      height: 100%
  .swiper__nav
    justify-content: center

    
@media screen and ( max-width: 570px )

  .row
    flex-direction: column
    align-items: center
    padding: 0 0
  .projects
    &__col
      &-40
        width: 100%
        flex-basis: 45%
      &-60
        width: 100%
        flex-basis: 45%
        margin: 18px auto 0

  
  .card
    &__text
      margin-left: 0
    &__pricetag
      font-size: 1.25rem
    &__image
      width: 100%
      max-width: 340px
  // .logo
  //   margin-le: 1.5rem
  
  .promo
    //height: auto
    // padding-top: 148px
    // padding-bottom: 61px
    &__content
     // max-width: 28.33rem
      margin-left: 0
    &__text
      // max-width: 25.744rem
      // margin-top: 1.08rem
      // margin-bottom: 2.75rem
      // line-height: 135.84%
    // &__button
    //   display: block
    //   margin-bottom: 2.2rem
    //   margin-right: 0
    //   padding-bottom: 1.55rem
    //   padding-top: 1.55rem
    //   width: 100%
    

@media screen and ( max-height: 460px  )
  .modal
    &__input
      &-group
        margin-bottom: 20px
    &__policy
      margin-bottom: 10px

@media screen and ( max-height: 380px  )
  .modal
    &__close
      top: 13px
    &__title
      margin-bottom: 13px
    &__button
        padding: 8px 47.5px

      

    



  