.promo
  //z-index: -1
  position: relative
  // display: flex
  // justify-content: center
  // align-items: center
  padding-top: 0px
  padding-bottom: 70vh
  background: url('../img/promo/bg-promo.png') no-repeat center / cover
  background-color: rgba($dark, 0.9)
  max-height: 100vh
  color: #dddddd
  &__wrap
    display: flex
    flex-direction: column
    justify-content: space-between
  &__content
    padding-top: 23vh
    padding-left: calc((1920px - 100vw)*0.02)    
    position: relative
    max-width: 446px
    margin-right: auto
    margin-bottom: 13vh
    //height: 33vh
  



