.promo
  z-index: -1
  position: relative
  // display: flex
  // justify-content: center
  // align-items: center
  padding-top: 202px
  padding-bottom: 555px
  background: url('../img/promo/bg-promo.png') no-repeat center / cover
  background-color: rgba($dark, 0.9)
  max-height: 100vh
  color: #dddddd
  &__content
    padding-left: calc((1920px - 100vw)*0.02)    
    position: relative
    max-width: 446px
    margin-right: auto



