@font-face {
  font-family: 'Istok Web';
  src: url("../fonts/IstokWeb-Regular.woff2") format("woff2"), url("../fonts/IstokWeb-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-Regular.woff2") format("woff2"), url("../fonts/MyriadPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Myriad Pro Semibold';
  src: url("../fonts/MyriadPro-Semibold.woff2") format("woff2"), url("../fonts/MyriadPro-Semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Myriad Pro Bold';
  src: url("../fonts/MyriadPro-Bold.woff2") format("woff2"), url("../fonts/MyriadPro-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

*, *::before, *::after {
  box-sizing: border-box; }

html {
  font-size: calc(9px + 7*(100vw/1920)); }

body {
  font-family: Myriad Pro;
  font-size: 1rem; }

img {
  max-width: 100%;
  outline-style: none;
  border: none; }

input {
  outline-style: none; }

h1, h2, h3, h4, strong {
  margin: 0; }

h1 {
  font-size: calc(20px + 68*(100vw/1920)); }

ul {
  padding: 0; }

.display-none {
  display: none; }

.active {
  display: block; }

.section--dark {
  background-color: #333333;
  color: #dddddd; }

.title {
  font-family: "Myriad Pro Bold" , sans-serif;
  font-weight: 600;
  color: #dddddd;
  letter-spacing: 1px;
  font-size: 2.3rem; }
  .title__promo {
    margin-top: 1px;
    font-family: "Myriad Pro Bold" , sans-serif;
    font-size: 5.45rem;
    max-width: 32.85rem;
    line-height: 5.15rem;
    letter-spacing: -1px; }
  .title__video {
    letter-spacing: -2px; }

.subtitle {
  display: block;
  font-family: "Myriad Pro Semibold" , sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: #dddddd; }
  .subtitle__promo {
    font-size: 1.3rem;
    max-width: 20rem;
    margin: 0;
    margin-top: 31px;
    line-height: 138%;
    margin-bottom: 0;
    letter-spacing: 2px; }
  .subtitle__video {
    margin-top: 2.8vh; }

.totop {
  position: fixed;
  bottom: 10px;
  right: 3px;
  z-index: 200;
  display: block;
  width: 35px;
  height: 35px;
  opacity: 0; }
  .totop-wrap {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px; }

.container {
  max-width: 1110px;
  margin: 0 auto; }
  .container__header {
    max-width: 1730px; }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 20px; }

.col-30 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 31.9%;
  -ms-flex: 0 0 31.9%;
  flex: 0 0 31.9%; }

.col-50 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 48%;
  -ms-flex: 0 0 48%;
  flex: 0 0 48%; }

.col-40 {
  width: 40%;
  max-width: 31.43rem; }

.col-70 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 70%;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%; }
  .col-70__video-other {
    position: relative;
    height: 400px; }

.bg-lines {
  position: relative; }
  .bg-lines > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
    z-index: -2; }
  .bg-lines__white > img {
    opacity: 0.3;
    height: 105%; }

.button {
  padding: 11px 24px;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  font-family: Futura Demi, sans-serif;
  line-height: 18px;
  font-size: 0.93rem;
  outline-color: transparent;
  z-index: 30; }
  .button:hover {
    cursor: pointer; }
  .button--primary {
    background-color: #fd893c;
    color: #dddddd;
    box-shadow: 0px 5px 15px rgba(253, 137, 60, 0.2);
    -webkit-transition: box-shadow 0.4s;
    transition: box-shadow 0.4s; }
    .button--primary:hover {
      box-shadow: none;
      background-color: #fc6a0a; }
  .button--outline {
    border: 1px solid #dddddd;
    background-color: transparent;
    color: #dddddd; }

.label {
  padding: 0;
  margin: 0;
  font-size: 1.07rem;
  color: #959595; }
  .label--light {
    color: rgba(221, 221, 221, 0.5); }

.input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(54, 54, 54, 0.9);
  outline-color: #fd893c;
  font-size: 1.285rem;
  color: #dddddd;
  padding: 0.5rem 0;
  width: 100%; }
  .input--light::-webkit-input-placeholder {
    color: #dddddd; }
  .input--light::-moz-placeholder {
    color: #dddddd; }
  .input--light:-ms-input-placeholder {
    color: #dddddd; }
  .input--light::-ms-input-placeholder {
    color: #dddddd; }
  .input--light::placeholder {
    color: #dddddd; }
  .input--light::-moz-placeholder, .input--light :-moz-placeholder {
    opacity: 1; }

.policy {
  position: relative; }
  .policy__checkbox {
    opacity: 0;
    visibility: hidden; }
    .policy__checkbox:checked ~ .policy__label::before {
      background: #fd893c url(../img/check.svg) no-repeat center/0.8rem; }
  .policy__label {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-style: normal;
    font-weight: normal;
    font-size: 1.142rem;
    line-height: 1.57rem;
    margin-top: -17px; }
    .policy__label::before {
      content: '';
      width: 18px;
      height: 18px;
      border: 1px solid #fd893c;
      border-radius: 1px;
      cursor: pointer;
      margin-right: 0.64rem; }
    .policy__label--center {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }

label.invalid {
  color: tomato; }

.invalid {
  color: tomato; }

input.invalid {
  border-bottom: 1px solid tomato; }

div[class$='input-group'] {
  position: relative; }

div[id$='-error'] {
  position: absolute;
  right: 0;
  top: -15px; }

#modalPolicyCheckbox-error {
  left: 7%;
  bottom: -1.3rem;
  top: auto; }

#fourStepsPolicyCheckbox-error {
  left: 7%;
  bottom: -1.3rem;
  top: auto; }

#footerPolicyCheckbox-error {
  left: 30%;
  top: auto;
  bottom: -1.3rem; }

#controlPolicyCheckbox-error {
  left: 36.5%;
  top: auto;
  bottom: -1.3rem; }

.digital-contacts-inst {
  width: 100%;
  background: url(../img/instagram-icon.svg) no-repeat center/contain; }

.digital-contacts-email {
  width: 100%;
  background: url(../img/email-icon.svg) no-repeat center/contain; }

.phone-href {
  text-decoration: none;
  color: #fd893c; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background-color: transparent; }
  .header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222222;
    visibility: hidden; }
  .header__body {
    position: relative;
    padding: 4vh 1vw 1vh 1vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .header__logo {
    text-decoration: none;
    max-width: 306px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .header__logo-img {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 60px;
      -ms-flex: 0 0 60px;
      flex: 0 0 60px;
      margin: 0 22px 0 0; }
      .header__logo-img > img {
        display: block;
        width: 100%;
        object-fit: cover; }
  .header__menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .header__menu-list {
      color: #dddddd;
      list-style: none;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .header__menu-list > li {
        margin: 0 2.95vw 0 0;
        font-family: "Open Sans", sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 28px;
        padding-bottom: 18px;
        border-bottom: 2px transparent solid; }
        .header__menu-list > li:hover {
          border-color: #dddddd; }
        .header__menu-list > li > a {
          color: #dddddd;
          text-decoration: none; }
  .header__burger {
    display: none;
    position: relative;
    width: 30px;
    height: 20px; }
    .header__burger::after, .header__burger::before {
      content: '';
      background-color: #dddddd;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      top: 0;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .header__burger::after {
      top: 20px; }
    .header__burger > span {
      position: absolute;
      background-color: #dddddd;
      left: 0;
      top: 10px;
      width: 100%;
      height: 2px;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }

.promo {
  position: relative;
  padding-top: 0px;
  padding-bottom: 755px;
  background: url("../img/promo/bg-promo.png") no-repeat center/cover;
  background-color: rgba(51, 51, 51, 0.9);
  max-height: 100vh;
  color: #dddddd; }
  .promo__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .promo__content {
    padding-top: 23vh;
    padding-left: calc((1920px - 100vw)*0.02);
    position: relative;
    max-width: 446px;
    margin-right: auto;
    margin-bottom: 13vh; }
  .promo-video__wrap {
    position: relative;
    padding: 0 calc((1920px - 100vw)*0.02);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 60.6875rem;
    width: 100%;
    min-height: 50vh;
    background: url("../img/video/video_main.png") no-repeat center/contain;
    margin: 0 auto; }
  .promo-video__body {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: calc(46.87vw + (1920px - 100vw)*0.1);
    height: calc((46.87vw*0.55) + (1920px - 100vw)*0.1); }
    .promo-video__body > img {
      display: block;
      width: 54px; }
      .promo-video__body > img:hover {
        cursor: pointer; }
  .promo-video__text {
    position: absolute;
    top: 9vh;
    left: -54px; }

.video-other {
  padding-top: 400px;
  padding-bottom: 200px;
  background-color: #f7f4f2; }
  .video-other__arrow-left, .video-other__arrow-right {
    top: 70px;
    z-index: 3; }
  .video-other__arrow-left {
    left: -20px; }
  .video-other__arrow-right {
    right: 10px; }
  .video-other__slide {
    display: none; }
    .video-other__slide.active {
      display: block; }
    .video-other__slide:hover {
      color: #2cbbc1;
      fill: #2cbbc1; }
    .video-other__slide-img {
      position: relative;
      width: 306px;
      height: 172px;
      overflow: hidden; }
      .video-other__slide-img > img {
        height: 100%;
        width: 100%;
        object-fit: cover; }
      .video-other__slide-img:hover::before {
        opacity: 0.5;
        color: #2cbbc1;
        fill: #2cbbc1; }
      .video-other__slide-img::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 306px;
        height: 172px;
        opacity: 0;
        background-color: #2cbbc1; }
    .video-other__slide > span {
      display: block;
      margin-top: 26px;
      font-size: 0.9rem; }
  .video-other__play-icon {
    position: absolute;
    top: 50%;
    height: 54px;
    margin-top: -27px;
    right: 50%;
    width: 54px;
    margin-right: -27px; }
    .video-other__play-icon:hover {
      cursor: pointer; }
  .video-other__title {
    color: #333333;
    max-width: 275px;
    height: 172px; }
    .video-other__title > span {
      white-space: nowrap;
      color: #fd893c; }
  .video-other__all-video {
    margin-top: 26px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1rem;
    color: #333333; }
    .video-other__all-video > img {
      display: block;
      margin-left: 19px; }

.arrow-left, .arrow-right {
  position: absolute;
  width: 54px;
  height: 54px; }
  .arrow-left:hover, .arrow-right:hover {
    cursor: pointer; }
  .arrow-left > svg, .arrow-right > svg {
    display: block; }

.arrow-left:hover .arrow-left-svg {
  opacity: 0.5; }

.arrow-right:hover .arrow-right-svg {
  opacity: 0.5; }

.control {
  margin-top: -24.49rem; }
  .control__section-title {
    margin-bottom: 2.214rem; }
  .control__video {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    margin-bottom: 4.428rem;
    max-width: 58.357rem;
    min-height: 31rem;
    z-index: 30;
    background: #333333 url("../img/video-mask.jpg") no-repeat center/cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25); }
    .control__video::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8); }
  .control__text {
    display: block;
    margin: auto;
    margin-bottom: 4.285rem;
    text-align: center;
    max-width: 40.785rem;
    font-size: 1.43rem;
    line-height: 2.49rem;
    font-style: normal;
    font-weight: normal;
    text-align: center; }
    .control__text::before {
      display: block;
      content: '';
      max-width: 4rem;
      height: 2px;
      background-color: #fd893c;
      margin: auto;
      margin-bottom: 1.9rem; }
  .control__form {
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 55rem;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .control__input {
    color: #333333;
    padding: 6px 0 9px;
    margin-bottom: 4px;
    width: 231px; }
    .control__input::-webkit-input-placeholder {
      color: #363636; }
    .control__input::-moz-placeholder {
      color: #363636; }
    .control__input:-ms-input-placeholder {
      color: #363636; }
    .control__input::-ms-input-placeholder {
      color: #363636; }
    .control__input::placeholder {
      color: #363636; }
    .control__input-group {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 16.5rem;
      -ms-flex: 0 0 16.5rem;
      flex: 0 0 16.5rem;
      margin-top: 1px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      .control__input-group:nth-child(2) {
        margin-left: 10px; }
  .control__button {
    padding: 19px 4.2rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1.071rem;
    line-height: 1rem;
    letter-spacing: 0.5px;
    max-height: 51px; }
  .control__label {
    margin-bottom: -6px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .control__policy {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin: 0 auto;
    margin-top: 1.1rem; }
    .control__policy-label {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-right: 64px; }
  .control__thanks-block {
    display: none;
    width: 100%;
    margin: 0 auto;
    max-width: 55rem; }

.video__play {
  position: relative;
  margin: auto;
  cursor: pointer; }

.projects {
  padding-top: 12.57rem;
  padding-bottom: 30rem; }
  .projects__col-60 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 60%;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    margin-top: 2px;
    margin-right: 19px; }
  .projects__col-40 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 40%;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    padding-right: 40px; }

.swiper-slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 2px; }
  .swiper-slide__text {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 43%;
    -ms-flex: 0 0 43%;
    flex: 0 0 43%;
    margin-bottom: 1.2rem; }
  .swiper-slide__heading {
    font-size: 1.285rem;
    line-height: 1.78rem;
    font-family: 'Yeseva One', cursive;
    color: #fd893c;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    min-width: 140px; }
  .swiper-slide__value {
    display: block;
    font-size: 1.07rem;
    line-height: 1.43rem;
    max-width: 11.5rem; }
  .swiper-slide-projects__col-60 {
    overflow: hidden;
    height: 34.43rem; }
    .swiper-slide-projects__col-60 > img {
      margin: auto;
      object-fit: cover;
      width: 100%;
      height: 100%; }

.swiper__nav {
  position: relative;
  margin-top: 97px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.swiper-pagination {
  bottom: 12px; }
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 9px 0 9px;
    background-color: rgba(221, 221, 221, 0.9); }
    .swiper-pagination-bullet-active {
      background-color: #dddddd; }

.swiper-button-prev, .swiper-button-next {
  bottom: 0;
  top: auto;
  margin-top: 0;
  background-size: 42px;
  width: 42px;
  height: 42px; }
  .swiper-button-prev::after, .swiper-button-next::after {
    display: none; }

.swiper-button-prev {
  left: 3px;
  background: url("../img/arrow-prev.svg") no-repeat center; }

.swiper-button-next {
  background: url("../img/arrow-next.svg") no-repeat center; }

.swiper-container-horizontal > .swiper-pagination-bullets {
  width: auto;
  bottom: 0px; }

.footer {
  background: #333333 url("../img/footer-bg.jpg") no-repeat center/cover;
  padding-top: 3rem; }
  .footer__wrap {
    width: 100%;
    max-width: 883px;
    margin: auto;
    margin-top: -260px;
    margin-bottom: 3.714rem;
    padding: 2.5rem;
    padding-bottom: 10px;
    background: #333333 url("../img/bg-form-footer.png") no-repeat center/cover; }
  .footer__title {
    margin-top: 0;
    text-transform: uppercase;
    font-family: 'Yeseva One', cursive;
    font-size: 1.428rem;
    font-weight: normal;
    text-align: center;
    margin-bottom: 3.214rem; }
  .footer__form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 37.142rem;
    margin: auto; }
  .footer__input {
    padding-top: 0.3rem; }
    .footer__input-group {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-flex-basis: 45%;
      -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
      margin-bottom: 3.2rem; }
      .footer__input-group--full-width {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        margin-bottom: 2rem; }
  .footer__policy {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-bottom: 3.6rem; }
  .footer__button {
    margin: auto;
    margin-bottom: 2rem;
    padding: 1.285rem 4.4rem;
    font-size: 15px;
    font-weight: 500;
    line-height: 26px;
    min-height: 51px;
    min-width: 200px;
    border-radius: 0; }
  .footer__menu {
    background-color: #333333;
    padding: 4.285rem 0; }
  .footer__contacts {
    max-width: 38.07rem;
    margin: 0 auto;
    margin-bottom: 3rem; }
  .footer__text-contacts {
    text-align: center;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: 400;
    font-size: 1.428rem;
    line-height: 2rem;
    text-transform: uppercase;
    color: #fd893c;
    margin: 0;
    margin-bottom: 1.86rem; }
  .footer__digital-contacts {
    margin: 0 auto;
    max-width: 71px;
    min-height: 28px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .footer__map {
    width: 100%;
    margin: auto;
    max-width: 66.07rem;
    margin-bottom: 4.64rem; }
  .footer__thanks-block {
    display: none;
    width: 100%;
    max-width: 37.142rem;
    margin: auto; }

.map {
  height: 33.214rem;
  width: 100%; }

.modal, .modal-thanks {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 199;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.6);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .modal--visible, .modal-thanks--visible {
    opacity: 1;
    visibility: visible; }
  .modal__dialog, .modal-thanks__dialog {
    position: relative;
    max-width: 36.36rem;
    background: #333333 url("../img/bg-form.png") no-repeat center/cover;
    background-size: 112% 140%;
    padding: 2.357rem 3.5rem 1.928rem;
    color: #dddddd; }
  .modal__text, .modal-thanks__text {
    font-family: 'Yeseva One', cursive;
    font-size: 1.357rem;
    text-align: center;
    color: #fd893c; }
  .modal__close, .modal-thanks__close {
    position: absolute;
    right: 2px;
    top: 2px;
    width: 28px;
    height: 28px;
    background: transparent url("../img/close.svg") no-repeat center;
    border: none;
    margin: 12px;
    cursor: pointer;
    outline-color: transparent; }
  .modal__title, .modal-thanks__title {
    font-family: 'Yeseva One', cursive;
    font-size: 1.357rem;
    text-align: center;
    margin: auto;
    margin-bottom: 25px;
    line-height: 1.5;
    letter-spacing: 0.1px; }
  .modal__form, .modal-thanks__form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .modal__input, .modal-thanks__input {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .modal__input::-webkit-input-placeholder, .modal-thanks__input::-webkit-input-placeholder {
      font-family: 'Futura Medium', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 1.285rem;
      line-height: 1.71rem; }
    .modal__input::-moz-placeholder, .modal-thanks__input::-moz-placeholder {
      font-family: 'Futura Medium', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 1.285rem;
      line-height: 1.71rem; }
    .modal__input:-ms-input-placeholder, .modal-thanks__input:-ms-input-placeholder {
      font-family: 'Futura Medium', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 1.285rem;
      line-height: 1.71rem; }
    .modal__input::-ms-input-placeholder, .modal-thanks__input::-ms-input-placeholder {
      font-family: 'Futura Medium', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 1.285rem;
      line-height: 1.71rem; }
    .modal__input::placeholder, .modal-thanks__input::placeholder {
      font-family: 'Futura Medium', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 1.285rem;
      line-height: 1.71rem; }
    .modal__input-group, .modal-thanks__input-group {
      margin-bottom: 3.3rem; }
      .modal__input-group:nth-child(3), .modal-thanks__input-group:nth-child(3) {
        margin-bottom: 16.06px; }
  .modal__policy, .modal-thanks__policy {
    margin-bottom: 2.7rem; }
  .modal__button, .modal-thanks__button {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    padding: 17px 47.5px;
    margin-right: 2px;
    margin-top: -2px; }
  .modal__thanks-block, .modal-thanks__thanks-block {
    display: none;
    width: 100%; }

#user-email-modal {
  margin-top: -2px; }

@media screen and (max-width: 1170px) {
  .row__video-other {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .col-30__video-other {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin: 0 auto; }
  .col-70__video-other {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin: 0 auto; }
  .section__video {
    padding-top: 120px; }
  .col-50__video-other:nth-child(1) {
    margin-right: 33px; }
  .arrow-right {
    right: -21px; } }

@media screen and (max-width: 992px) {
  *:hover {
    box-shadow: none;
    text-decoration: none; }
  .button:hover {
    background-color: #fd893c; }
  .card__text {
    margin-top: -4.3rem; }
  .card__pricetag {
    font-size: 1rem; }
  .promo-video__wrap {
    min-height: calc(399*(100vw/810)); }
  .promo-video__text {
    left: calc((992px - 100vw)*0.02); } }

@media screen and (max-width: 767px) {
  body.lock {
    overflow: hidden; }
  .row__video-other-slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .col-50__video-other {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin: 0 auto; }
    .col-50__video-other:nth-child(1) {
      margin-right: 0; }
  .video-other__slide-img {
    width: 90vw;
    height: auto; }
  .header::before {
    visibility: visible;
    z-index: 2; }
  .header__body {
    z-index: auto;
    padding: 2vh; }
  .header__burger {
    z-index: 3;
    display: block; }
    .header__burger.active::before {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 9px; }
    .header__burger.active::after {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 9px; }
    .header__burger.active > span {
      -webkit-transform: scale(0);
      transform: scale(0); }
  .header__menu {
    display: block;
    position: fixed;
    top: -100%;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #2cbbc1;
    z-index: auto;
    padding: 70px 0 0 0; }
    .header__menu-list {
      display: block;
      padding: 10vh 0 0 2vh; }
      .header__menu-list > li {
        margin: 0 0 8vh 0;
        font-size: 2rem; }
    .header__menu.active {
      top: 0; }
  .header__logo {
    position: relative;
    z-index: 3; } }

@media screen and (max-width: 680px) {
  .swiper-slide-projects__col-60 {
    overflow: auto;
    height: 100%; }
    .swiper-slide-projects__col-60 > img {
      object-fit: contain;
      width: 100%;
      height: 100%; }
  .swiper__nav {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; } }

@media screen and (max-width: 570px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 0; }
  .projects__col-40 {
    width: 100%;
    -webkit-flex-basis: 45%;
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%; }
  .projects__col-60 {
    width: 100%;
    -webkit-flex-basis: 45%;
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%;
    margin: 18px auto 0; }
  .card__text {
    margin-left: 0; }
  .card__pricetag {
    font-size: 1.25rem; }
  .card__image {
    width: 100%;
    max-width: 340px; } }

@media screen and (max-height: 460px) {
  .modal__input-group {
    margin-bottom: 20px; }
  .modal__policy {
    margin-bottom: 10px; } }

@media screen and (max-height: 380px) {
  .modal__close {
    top: 13px; }
  .modal__title {
    margin-bottom: 13px; }
  .modal__button {
    padding: 8px 47.5px; } }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  *::before, *::after {
    display: block;
    position: absolute; }
  .section-title__image {
    position: relative; }
    .section-title__image::before {
      left: 45%; }
    .section-title__image::after {
      left: 51%; }
  .instagram__link {
    position: relative; }
    .instagram__link::after {
      top: 5px;
      left: 84px; }
  .hero {
    min-height: 95vh;
      min-height-height: 100px; }
    .hero__content {
      margin-left: -250px; }
    .hero__scroll-down {
      height: 6.92rem;
      width: 17.6rem; }
      .hero__scroll-down::after {
        display: inline-block;
        top: 32px; }
  .policy__label {
    margin-left: 29px; }
    .policy__label::before {
      left: 0; }
  .control__policy-label::before {
    left: 220px; }
  .control__video {
    height: 31rem;
    width: 58.357rem; }
  .video__play {
    position: relative;
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 145px; }
  .footer__policy-label::before {
    left: 130px; } }
